#reviews{
    text-align: center;
    p{
        font-weight: 300;
        font-size: rem-calc(16);
        text-align: center;
        color: white;
    }

    h3{
        font-weight: 400;
        font-size: rem-calc(16);
        text-align: center;
        color: white;
    }

    #r0{
        display: grid;
        grid-template-columns: 50% auto;

        #r1{
            width: 136px;
            height: 200px;
            padding: 16px;
            background-color: black;
            border-radius: 15px;
            margin: 16px 5px 16px 16px;
    
        }
    
        #r2{
            width: 136px;
            height: 200px;
            padding: 16px;
            background-color: black;
            border-radius: 15px;
            margin: 16px 16px 16px 5px;
        }
    }




}