#aesthetic{
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 100%;
    border-bottom: 0.5px solid black;

    
    text-align: center;
    #a0{
        #a1{
            #a11{
                background-image: url(../img/SMEG_Lifestyle.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 211px;
                background-position: center;
            }
        }
    
    
        #a3{
            #a33{
                background-image: url(../img/SMEG_Lifestyle1.jpg);
                background-size: cover;
                width: 100%;
                height: 211px;
                background-position: center;
            }
        }
    
        #a4{
    
            #a44{
                a{
                text-decoration: none;
                padding: 4.5px 5px;
                background-color: var(--americangold);
                color: white;
                border: none;
                font-weight: 900;
                font-size: rem-calc(16);
                }
            }
        }
    }
    

    @include xl{
        #a0{
            #a1{
                #a11{
                    background-image: url(../img/SMEG_Lifestyle.jpg);
                    background-size: cover;
                    width: 813px;
                    height: 456px;
                    background-position: center;
                }
            }
        
        
            #a3{
                
                #a33{
                    background-image: url(../img/SMEG_Lifestyle1.jpg);
                    background-size: cover;
                    width: 100%;
                    height: 460px;
                    background-position: 0% 75%;
                }
            }
        
            #a4{
        
                #a44{
                    margin: 16px;
                    a{
                        text-decoration: none;
                        padding: 4.5px 20px;
                        background-color: var(--americangold);
                        color: white;
                        border: none;
                        font-weight: 900;
                        font-size: rem-calc(36);
                        border-radius: 30px;
                }
            }
        }
        
    }
}
}