#aesthetic{
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 100%;
    border-bottom: 0.5px solid black;

    
    text-align: center;
    #i0{
        #i1{
            #i11{
                background-image: url(../img/SMEG_Lifestyle.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 211px;
                background-position: center;
            }
        }
    
    
        #i3{
            #i33{
                background-image: url(../img/SMEG_Lifestyle1.jpg);
                background-size: cover;
                width: 100%;
                height: 211px;
                background-position: center;
            }
        }
    
        #i4{
    
            #i44{
                margin: 10px;
                a{
                text-decoration: none;
                padding: 4.5px 5px;
                background-color: var(--americangold);
                color: white;
                border: none;
                font-weight: 900;
                font-size: rem-calc(16);
                }
            }
        }
    }
    

    @include xl{
        #i0{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-areas: 
            "a1 a1 a2 a2"
            "a3 a3 a3 a3"
            ". a4 a4 .";
            #i1{
                margin: 10px;
                grid-area: a1;
                #i11{
                    background-image: url(../img/SMEG_Lifestyle.jpg);
                    background-size: cover;
                    width: 100%;
                    height: 456px;
                    background-position: center;
                }
            }
        #i2{
            
            grid-area: a2;
            h3{
                text-align: left;
                font-weight: 400;
                font-size: rem-calc(32);
            }
            p{
                text-align: left;
                font-weight: 300;
                font-size: rem-calc(16);
            }
        }
        
            #i3{
                grid-area: a3;
                #i33{
                    background-image: url(../img/SMEG_Lifestyle1.jpg);
                    background-size: cover;
                    width: 100%;
                    height: 460px;
                    background-position: 0% 75%;
                }
            }
        
            #i4{
                grid-area: a4;
        
                #i44{
                    margin: 16px;
                    a{
                        text-decoration: none;
                        padding: 4.5px 20px;
                        background-color: var(--americangold);
                        color: white;
                        border: none;
                        font-weight: 900;
                        font-size: rem-calc(36);
                        border-radius: 30px;
                }
            }
        }
        
    }
}
}