/* =============
    Footer
============= */

footer{
    background-color: black;
    img{
        width: 60px;
        height: 60px;
    }
}


// <i class="fa-brands fa-facebook-f"></i>

// <i class="fa-brands fa-youtube"></i>

//<i class="fa-brands fa-instagram"></i>

//<i class="fa-brands fa-linkedin"></i>