/* =============
    Buttons
============= */
button{
    padding: 4.5px 5px;
    background-color: var(--americangold);
    color: white;
    border: none;
    font-weight: 900;
    font-size: rem-calc(16);
}