#p0{
    border-bottom: 0.5px solid black;
    text-align: center;
    h1{
        font-weight: 700;
        font-size: rem-calc(16);
        margin: 16px;
    }
    #p1{
        margin: 16px;
    
        ul{
            label{
                font-weight: 700;
                font-size: rem-calc(16);
            }
            display: grid;
            grid-template-columns: repeat(2,1fr);
            li{
                text-align: left;
                margin: 5px 16px 16px 16px;
    
            }
        }
    }
    
    
    
    #p2{
    
        ul{
            li{
                gap: 10px;
            }
        }
        form{
            margin: 10px;
            align-items: center;
            
            input{
                border: none;
                border-radius: 0%;
                background-color: var(--egret);
                width: 325px;
                height: 30px;
            }
            
            
            
        }
    }
}

@include xl{
    #p0{
        h1{
            text-align: left;
            font-weight: 700;
            font-size: rem-calc(32);
            margin: 16px;
        }

        #p1{
            display: flex;
            justify-content: center;
            
            // align-content: center;
            // border: 1px solid red;
            ul{
                
                label{
                    font-weight: 700;
                    font-size: rem-calc(24);
                }
                display: grid;
                grid-template-columns: repeat(2,1fr);
                li{
                    text-align: left;
                    margin: 5px 16px 16px 16px;
        
                }
            }
        }
        
        
        
        #p2{
        margin-bottom: 16px;
            ul{
                li{
                    gap: 10px;
                }
            }
            form{
                margin: 10px;
                align-items: center;
                
                input{
                    border: none;
                    border-radius: 0%;
                    background-color: var(--egret);
                    width: 759px;
                    height: 30px;
                }
                
                
                
            }
        }
    }
}